#carousel {
    height: 400px;
    width: 1000px;
}

#carousel img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#carousel img.active {
    display: block;
}

.thumbnails-container {
    width: 20%;
   
}